body {
    background-color: #161715;
}
h1 {
    color: #20ee20;
    font-size: 32px;
    margin: 4px 2px;
}
h2 {
    color: #20ff90;
    font-size: 29px;
    margin: 4px 2px;
}
h3 {
    color: #20ffff;
    font-size: 26px;
    margin: 4px 2px;
}
h4 {
    color: #2090ff;
    font-size: 23px;
    margin: 4px 2px;
}
h5 {
    color: #2030ff;
    font-size: 20px;
    margin: 4px 2px;}
h6 {
    color: #902090;
    font-size: 17px;
    margin: 4px 2px;
}
p {
    color: #eeeeee;
    font-size: 14px;
    margin: 2px 2px;
}
li {
    color: #eeeeee;
    font-size: 14px;
    margin: 2px 2px;
}
a {
    color: #84f;
    font-size: 14px;
    margin: 2px 2px;
}
table {
    color: #eeeeee;
    font-size: 14px;
    border: 1px solid;
    width: 100%;
    border-color: #666;
}
th {
    color: #2090ff;
    font-size: 14px;
    border: 1px solid;
    border-color: #333;
}
td {
    color: #eeeeee;
    font-size: 14px;
    border: 1px solid;
    border-color: #333;
}
code {
    color: #eeeeee;
    font-size: 14px;
    font-family: monospace;
    margin: 2px 2px;
}
